<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Pharmacy.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <connectionStrings>
    <add name="connectionString" providerName="System.Data.SqlClient" connectionString="Data Source=localhost; Initial Catalog=Pharmacy; Integrated Security = True"/>
  </connectionStrings>
  <userSettings>
    <Pharmacy.My.MySettings>
      <setting name="MainFormLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
    </Pharmacy.My.MySettings>
  </userSettings>
</configuration>
