USE [master]
GO
/****** Object:  Database [PharmacyCustomFiles]    Script Date: 11/10/2025 18:28:13 ******/
CREATE DATABASE [PharmacyCustomFiles]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PharmacyCustomFiles', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\PharmacyCustomFiles.mdf' , SIZE = 21504KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'PharmacyCustomFiles_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\PharmacyCustomFiles_log.ldf' , SIZE = 9216KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PharmacyCustomFiles].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PharmacyCustomFiles]
GO
/****** Object:  User [teo]    Script Date: 11/10/2025 18:28:13 ******/
CREATE USER [teo] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [pharm]    Script Date: 11/10/2025 18:28:13 ******/
CREATE USER [pharm] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [farmakeio1]    Script Date: 11/10/2025 18:28:13 ******/
CREATE USER [farmakeio1] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [pharm]
GO
ALTER ROLE [db_owner] ADD MEMBER [farmakeio1]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [farmakeio1]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [farmakeio1]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [farmakeio1]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [farmakeio1]
GO
ALTER ROLE [db_datareader] ADD MEMBER [farmakeio1]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [farmakeio1]
GO
ALTER ROLE [db_denydatareader] ADD MEMBER [farmakeio1]
GO
ALTER ROLE [db_denydatawriter] ADD MEMBER [farmakeio1]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 11/10/2025 18:28:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_Customers_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customersold]    Script Date: 11/10/2025 18:28:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customersold](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Debts]    Script Date: 11/10/2025 18:28:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Debts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NULL,
	[CustomerId] [int] NULL,
	[Date] [datetime] NULL,
	[DebtDescription] [nvarchar](255) NULL,
	[Ammount] [float] NULL,
 CONSTRAINT [PK_Debts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeliveryList]    Script Date: 11/10/2025 18:28:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeliveryList](
	[Id] [int] NOT NULL,
	[DeliveryCode] [nvarchar](10) NULL,
	[DeliveryDate] [datetime] NULL,
	[DrugListOK] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Drugs]    Script Date: 11/10/2025 18:28:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Drugs](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](255) NULL,
	[Category] [nvarchar](255) NULL,
	[Notes2] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DrugsOnLoan]    Script Date: 11/10/2025 18:28:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DrugsOnLoan](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Barcode1] [nvarchar](20) NULL,
	[Barcode2] [nvarchar](20) NULL,
	[Name] [nvarchar](100) NULL,
	[Price] [money] NULL,
	[DateIn] [datetime] NULL,
	[CustomerId] [int] NULL,
	[DateOut] [datetime] NULL,
 CONSTRAINT [PK_DrugsOnLoan] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DrugsPerDelivery]    Script Date: 11/10/2025 18:28:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DrugsPerDelivery](
	[Id] [bigint] NOT NULL,
	[DeliveryId] [int] NULL,
	[DrugName] [nvarchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DrugsPerDeliveryNew]    Script Date: 11/10/2025 18:28:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DrugsPerDeliveryNew](
	[Id] [bigint] NOT NULL,
	[DeliveryId] [int] NULL,
	[DrugName] [nvarchar](200) NULL,
	[Barcode] [nvarchar](25) NULL,
	[DrugType] [nvarchar](200) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DrugsSoldOrExchanged]    Script Date: 11/10/2025 18:28:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DrugsSoldOrExchanged](
	[Id] [bigint] NOT NULL,
	[DrugId] [int] NULL,
	[ExpMonth] [numeric](2, 0) NULL,
	[ExpYear] [numeric](4, 0) NULL,
	[Barcode] [nvarchar](15) NULL,
	[DeliveryCode] [nvarchar](10) NULL,
	[DeliveryDate] [datetime] NULL,
	[Quantity] [smallint] NULL,
	[ToWho] [nvarchar](50) NULL,
	[FromWho] [nvarchar](50) NULL,
	[SoldOrExchangedDate2] [datetime] NULL,
	[SoldOrExchangedDate] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExchangerList]    Script Date: 11/10/2025 18:28:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExchangerList](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ExchangerName] [nvarchar](50) NULL,
 CONSTRAINT [PK_ExchangerList] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Exchanges]    Script Date: 11/10/2025 18:28:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exchanges](
	[Id] [numeric](6, 0) IDENTITY(1,1) NOT NULL,
	[Drug] [nvarchar](255) NULL,
	[Xondr] [money] NULL,
	[Exch] [nvarchar](50) NULL,
	[FromTo] [numeric](3, 0) NULL,
	[Qnt] [numeric](4, 0) NULL,
	[RP] [nvarchar](1) NULL,
	[DrugName] [nvarchar](255) NULL,
	[AP_Code] [nvarchar](10) NULL,
	[MyDate] [datetime] NULL,
	[FPA] [numeric](4, 1) NULL,
 CONSTRAINT [PK_Exchanges_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExchangesMaster]    Script Date: 11/10/2025 18:28:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExchangesMaster](
	[Id] [bigint] NOT NULL,
	[DrugID] [int] NULL,
	[Quantity] [smallint] NULL,
	[DrugDate] [datetime] NULL,
	[FromWho] [nvarchar](50) NULL,
	[ToWho] [nvarchar](50) NULL,
	[Total] [money] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExchangesOld]    Script Date: 11/10/2025 18:28:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExchangesOld](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Drug] [nvarchar](255) NULL,
	[Xondr] [money] NULL,
	[Exch] [nvarchar](255) NULL,
	[FromTo] [numeric](3, 0) NULL,
	[Qnt] [nvarchar](255) NULL,
	[RP] [numeric](1, 0) NULL,
	[DrugName] [nvarchar](255) NULL,
	[AP_Code] [numeric](6, 0) NULL,
	[MyDate] [datetime] NULL,
 CONSTRAINT [PK_Exchanges] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Expirations]    Script Date: 11/10/2025 18:28:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Expirations](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](255) NULL,
	[ExpDate] [datetime] NULL,
	[Category] [nvarchar](255) NULL,
	[AP_ID] [int] NULL,
	[AP_CODE] [int] NULL,
	[ParadrugId] [int] NULL,
	[Month] [int] NULL,
	[Year] [int] NULL,
 CONSTRAINT [PK_Expirations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExpirationsNew]    Script Date: 11/10/2025 18:28:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExpirationsNew](
	[Id] [bigint] NOT NULL,
	[DrugId] [int] NULL,
	[Barcode] [nvarchar](15) NULL,
	[ExpMonth] [numeric](2, 0) NULL,
	[ExpYear] [numeric](4, 0) NULL,
	[FromWho2] [int] NULL,
	[ToWho2] [int] NULL,
	[DeliveryCode] [nvarchar](10) NULL,
	[DeliveryDate] [datetime] NULL,
	[Quantity] [smallint] NULL,
	[FromWho] [nvarchar](50) NULL,
	[ExchMasterId] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExpirationsOld]    Script Date: 11/10/2025 18:28:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExpirationsOld](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](255) NULL,
	[Category] [nvarchar](255) NULL,
	[ExpDate] [datetime] NULL,
	[DrugId] [int] NULL,
	[ExpDate2] [nchar](12) NULL,
	[ExpMonth] [numeric](2, 0) NULL,
	[ExpYear] [numeric](4, 0) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FarmAgores]    Script Date: 11/10/2025 18:28:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FarmAgores](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[MyDate] [datetime] NOT NULL,
	[CodeReceipt] [nvarchar](50) NULL,
	[Description] [nvarchar](255) NULL,
	[Agores130] [money] NULL,
	[Agores230] [money] NULL,
	[Agores650] [money] NULL,
	[DapNoDisc] [money] NULL,
	[DapWithDisc] [money] NULL,
	[AgoresFPA] [money] NULL,
	[DapFPA] [money] NULL,
 CONSTRAINT [PK_FarmakeioIn] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FarmSold]    Script Date: 11/10/2025 18:28:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FarmSold](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[MyDate] [datetime] NULL,
	[CodeReceipt] [nvarchar](50) NULL,
	[Description] [nvarchar](255) NULL,
	[SoldXondr130] [money] NULL,
	[SoldXondr230] [money] NULL,
	[SoldXondr650] [money] NULL,
	[SoldLian130] [money] NULL,
	[SoldLian230] [money] NULL,
	[SoldLian650] [money] NULL,
	[InFPA] [money] NULL,
	[ZItems] [int] NULL,
	[ZReceipts] [int] NULL,
 CONSTRAINT [PK_FarmakeioOut] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HairDies]    Script Date: 11/10/2025 18:28:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HairDies](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NULL,
	[CustomerId] [int] NULL,
	[HairDieDescription] [nvarchar](255) NULL,
	[Date] [datetime] NULL,
 CONSTRAINT [PK_HairDies] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MyBarcodes]    Script Date: 11/10/2025 18:28:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MyBarcodes](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[BarcodeDrug] [nvarchar](20) NULL,
	[BarcodeBox] [nvarchar](20) NULL,
	[Money] [money] NULL,
	[DateIn] [datetime] NULL,
	[DateOut] [datetime] NULL,
 CONSTRAINT [PK_MyBarcodes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pelates_View]    Script Date: 11/10/2025 18:28:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pelates_View](
	[ID] [int] NOT NULL,
	[CODE] [varchar](12) NULL,
	[EPONYMIA] [varchar](50) NULL,
	[ONOMA] [varchar](30) NULL,
	[MOBILE] [varchar](15) NULL,
	[E-MAIL] [varchar](30) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phonebook]    Script Date: 11/10/2025 18:28:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phonebook](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Fullname] [nvarchar](255) NULL,
	[PhoneNumber1] [nvarchar](50) NULL,
	[PhoneNumber2] [nvarchar](50) NULL,
	[PhoneNumber3] [nvarchar](50) NULL,
	[PhoneNumber4] [nvarchar](50) NULL,
 CONSTRAINT [PK_Phonebook] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prescriptions]    Script Date: 11/10/2025 18:28:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prescriptions](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Barcode] [nvarchar](50) NULL,
	[InitDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[ProcessedDate] [datetime] NULL,
	[Ektelesis] [nvarchar](10) NULL,
	[CustomerId] [int] NULL,
	[Drug1] [nvarchar](150) NULL,
	[Drug2] [nvarchar](150) NULL,
	[Drug3] [nvarchar](150) NULL,
	[Analosima] [bit] NULL,
	[Notes] [nvarchar](255) NULL,
	[Drug4] [nvarchar](150) NULL,
	[Drug5] [nvarchar](150) NULL,
	[Drug6] [nvarchar](150) NULL,
	[Drug7] [nvarchar](150) NULL,
	[Drug8] [nvarchar](150) NULL,
	[Drug9] [nvarchar](150) NULL,
	[Drug10] [nvarchar](150) NULL,
	[Drug11] [nvarchar](150) NULL,
	[Drug12] [nvarchar](150) NULL,
	[Drug13] [nvarchar](150) NULL,
	[Drug14] [nvarchar](150) NULL,
	[Drug15] [nvarchar](150) NULL,
	[Drug16] [nvarchar](150) NULL,
	[Drug17] [nvarchar](150) NULL,
	[Drug18] [nvarchar](150) NULL,
	[Drug19] [nvarchar](150) NULL,
	[Drug20] [nvarchar](150) NULL,
 CONSTRAINT [PK_Prescriptions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prices]    Script Date: 11/10/2025 18:28:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prices](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](255) NULL,
	[Price1] [money] NULL,
	[Price2] [money] NULL,
	[Notes2] [nvarchar](255) NULL,
	[DrugId] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PricesParadrugs]    Script Date: 11/10/2025 18:28:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PricesParadrugs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NULL,
	[Xondr] [money] NULL,
	[Lian] [float] NULL,
	[Notes1] [nvarchar](255) NULL,
	[Notes] [nvarchar](255) NULL,
	[AP_Code] [int] NULL,
	[EOF_Code] [int] NULL,
	[AP_ID] [bigint] NULL,
	[Barcode] [nvarchar](20) NULL,
 CONSTRAINT [PK_PricesParadrugs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TameiaAsked]    Script Date: 11/10/2025 18:28:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TameiaAsked](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MyDate] [datetime] NULL,
	[Description] [nvarchar](100) NULL,
	[AmountAsked] [money] NULL,
	[AmountGiven] [money] NULL,
	[Difference] [money] NULL,
	[DifferPercent] [decimal](18, 1) NULL,
	[PercentagePaid] [decimal](18, 1) NULL,
	[IRS] [bit] NULL,
 CONSTRAINT [PK_TameiaAsked] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TameiaPaid]    Script Date: 11/10/2025 18:28:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TameiaPaid](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MyDate] [datetime] NULL,
	[Description] [nvarchar](50) NULL,
	[AmountPaid] [money] NULL,
	[PercTotalPaid] [decimal](4, 1) NULL,
	[DifferenceToTotal] [money] NULL,
	[TameiaAskedId] [int] NULL,
 CONSTRAINT [PK_TameiaPaid] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Variables]    Script Date: 11/10/2025 18:28:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Variables](
	[Id] [int] NOT NULL,
	[LastUpdated_PricesParadrugs] [datetime] NULL,
	[LastUpdated_Exchanges] [datetime] NULL,
	[LastUpdated_Customers] [datetime] NULL,
	[LastUpdated_Debts] [datetime] NULL,
	[LastUpdated_DrugsOnLoan] [datetime] NULL,
	[LastUpdated_Phonebook] [datetime] NULL,
	[LastUpdated_HairDies] [datetime] NULL,
	[LastUpdated_Prescriptions] [datetime] NULL,
	[Last_FromDate_Exchanges] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Z_List]    Script Date: 11/10/2025 18:28:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Z_List](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ZId] [bigint] NULL,
	[ZDate] [datetime] NULL,
	[Drugs650Total] [money] NULL,
	[Drugs230Total] [money] NULL,
	[Drugs130Total] [money] NULL,
	[Items] [int] NULL,
	[Receipts] [int] NULL,
 CONSTRAINT [PK_Z_List] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
